<mat-card
  class="blog-entry-card"
  (click)="navigate()"
  [class.clickable]="!isDetailed()"
>
  <mat-card-header>
    <img mat-card-avatar #UserHeaderImage alt="" />
    <mat-card-title>{{ blog.author }}</mat-card-title>
    <mat-card-subtitle>{{ blog.title }}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>
      {{ getContent() }}
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button
      (click)="toggleFavorite()"
      mat-icon-button
      color="primary"
      aria-label="Example icon button with a home icon"
    >
      <mat-icon [matBadge]="blog.likes" [matBadgeHidden]="blog.likes === 0">
        {{ blog.likedByMe ? "favorite" : "favorite_border" }}
      </mat-icon>
    </button>
    <button
      mat-icon-button
      color="primary"
      aria-label="Example icon button with a home icon"
    >
      <mat-icon
        [matBadge]="countComments()"
        [matBadgeHidden]="countComments() === 0"
        >comment</mat-icon
      >
    </button>
  </mat-card-actions>
</mat-card>
