<mat-card class="blog-entry-card">
  <mat-card-header>
    <img mat-card-avatar #UserHeaderImage alt="" />
    <mat-card-title>{{ blog?.author }}</mat-card-title>
  </mat-card-header>
  <img mat-card-image src="" alt="" />
  <mat-card-content>
    <p>
      {{ blog?.contentPreview }}
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button
      mat-icon-button
      color="primary"
      aria-label="Example icon button with a home icon"
    >
      <mat-icon [matBadge]="blog?.likes">favorite</mat-icon>
    </button>
    <button
      mat-icon-button
      color="primary"
      aria-label="Example icon button with a home icon"
    >
      <mat-icon [matBadge]="blog?.comments">comment</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>
