mat-toolbar {
  padding-left: 15%;
  padding-right: 15%;
}

@media only screen and (max-width: 768px) {
  mat-toolbar {
    padding-left: 5%;
    padding-right: 5%;
  }
}

.spacer {
  flex: 1 1 auto;
}
